@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: #1e3a8a;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #9333ea;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #6b21a8;
  }
}
.specialAnimation {
  animation: grayScale 7s infinite;
}
@keyframes grayScale {
  0% {
    filter: grayscale(0);
  }
  50% {
    filter: grayscale(0.6);
  }
  100% {
    filter: grayscale(0);
  }
}

.swiper-pagination {
  position: relative !important;
  display: block !important;
  padding-block: 20px;
}
.swiper-pagination-bullet {
  background-color: #a855f7 !important;
  opacity: 0.7;
}
.swiper-pagination-bullet-active {
  background-color: #9333ea !important;
  opacity: 1;
}
